* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 300px;
	width: auto;
	border-bottom: 3px;
	border-top: 3px;
}

.box {
	width: 40px;
	height: 30px;
    padding: 0px 15px;
	text-align: right;
	font: 11px tahoma;
	color: white;
	position: relative;
    background: grey;
    line-height: 30px;
    border-bottom: 1px solid #424242;
}
.box:hover::after {
    display: inline-block;
	position: relative;
	left: 30px;
    top: -30px;
	width: 100px;
	padding: 10px;
	background: #424242;
	color: white;
	font: 11px tahoma;	
	text-align: center;
	border-left: 5px solid black;
    border-radius: 10px;
	content: attr(data-tooltip);
}

.cl { background: blue; }
.clq { background: darkblue; }
.el { background: yellow; }
.rel { background: darkred; }